$padding-y: 32px;
$border-bottom: 2px;

.header-container {
  position: sticky;
  top: 0;
  z-index: 999;

  .navbar-light .navbar-nav .nav-link {
    color: #909090;
    padding-bottom: $padding-y;
    padding-top: $padding-y;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    border-bottom: $border-bottom solid #090cd1;
    padding-bottom: $padding-y - $border-bottom;
  }

  .navbar-light .navbar-toggler {
    background: #090cd1;
  }

  #basic-navbar-nav {
    margin: 10px;
  }
}
